.header {
    position: absolute;
    top: 0;
}

.ava{
    height: 100vh;
    width: 100vw;
    background: url('./bg.png') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ava__avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.ava__content {
    color: white;
}

