extends ../base

block head
    title Обо мне

block content
    header.header
        .container.header-container
            .header__socials
                a.socials__link(href="http:/vk.com")
                    svg.socials__svg
                        use(xlink:href="../svg/sprite.svg#vk")
                a.socials__link(href="http:/fb.com")
                    svg.socials__svg
                        use(xlink:href="../svg/sprite.svg#github")
                a.socials__link(href="http:/in.com")
                    svg.socials__svg
                        use(xlink:href="../svg/sprite.svg#in")
            .header__menu
                button.header__menu-btn(type="button")
                    svg.header__menu-svg
                        use(xlink:href="../svg/sprite.svg#hamburger")
    section.section.hero
        .container.hero-container
            .hero__parallax(data-parallax="scroll", data-image-src=require("./img/bg.png"))
            .hero__back-text
            .hero__ava
                img.ava__avatar(src=require("./img/ava.png"), alt="avatar")
                .ava__content
                    h2.ava__name Денис Давыдов
                    p.ava__text  Личный сайт веб разработчика
            .hero__btn-next
    section.section.about
        .container.about-container
            .about__triangles
                svg.triangles__tr(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
                    polygon.triangles__left(points="0,0   0,86   500.8,86   500.8,75.5")
                    polygon.triangles__right(points="1000,0   1000,86   500,86   500,75.5")
            .about__content.about__content-left
                .content-left__title Обо мне
                .content-left__about
                    .content-left__ava
                    .content-left__description
                        .content-left__subtitle Кто я
                        .content-left__text 
                            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
            .about__content.about__content-right
                .content-right__title Чем я могу быть вам полезен
                .content-right__text 
                    p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                .content-right__row-chart
                    .row-chart__title Frontend 
                        ul.row-chart__list
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title HTML 5
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title CSS 3
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title JavaScript & jQuery
                .content-right__row-chart
                    .row-chart__title Backend
                        ul.row-chart__list
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title PHP
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title mySQL
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title Node js & npm 
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title Mongo db 
                .content-right__row-chart
                    .row-chart__title Workflow 
                        ul.row-chart__list
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title Git
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title Gulp
                            li.row-chart__item
                                svg.row-chart__circles(viewBox="0 0 110 110")
                                    circle.circle__first(r="45" cx="50%" cy="50%" fill="none")
                                    circle.circle__second.circle-25(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                                span.item__title Bower
    section.section.map
        .container.map-container
            .map__contacts
                .contacts__title Контакты
                .contacts__description
                    svg.contacts__link
                        use(xlink:href="../svg/sprite.svg#skype")
                    p.contacts__text skype__kdn
                .contacts__description
                    svg.contacts__link
                        use(xlink:href="../svg/sprite.svg#telegram_logo")
                    p.contacts__text den.saint.k@gmail.com
                .contacts__description
                    svg.contacts__link
                        use(xlink:href="../svg/sprite.svg#phone")
                    p.contacts__text +7 926 123 12 12
                .contacts__description
                    svg.contacts__link
                        use(xlink:href="../svg/sprite.svg#map_marker")
                    p.contacts__text г.Зеленоград, ул. Летчика Полагушина, д. 452
        footer.footer
            .container.footer-container
                .footer__left
                    .left__links
                        ul.left__links-list
                            li.left__links__item
                                a.left__link(href="") Мои работы
                            li.left__links__item
                                a.left__link(href="") Обо мне
                            li.left__links__item
                                a.left__link(href="") Блог
                            li.left__links__item
                                a.left__link(href="") Авторизация
                    .left__text Я веб-разработчик из Зеленограда, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                .footer__right
                    .right__soc
                        a.soc__link(href="http:/vk.com")
                            svg.soc__svg
                                use(xlink:href="../svg/sprite.svg#vk_round")
                        a.soc__link(href="http:/vk.com")
                            svg.soc__svg
                                use(xlink:href="../svg/sprite.svg#github_round")
                        a.soc__link(href="http:/vk.com")
                            svg.soc__svg
                                use(xlink:href="../svg/sprite.svg#in_round")
                    .right__text © Давыдов Денис | создано с любовью в LoftSchool | 2018
            
