body {
    overflow-x: hidden;
}

.section {
    height: 100vh;
}

.container{
    width: 95%;
    max-width: 940px;
    min-height: 650px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 70px;
}

.header-container {
    min-height: 100px;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container {
    flex-direction: row;
    min-height: 150px;
}