.blog {
    position: relative;
    background: #fff;
}

.blog-container {
    height: 80vh;
    display: grid;
    grid-template-areas: 
        "list item";
    grid-template-columns: 1fr 3fr;
    grid-gap: 0 50px;
}

.blog__triangles {
    display: block;
    position: absolute;
    width: 100vw;
    top: -125px;
    margin: 0 auto;

    .triangles__left {
        fill: white;
    }

    .triangles__right {
        fill: white;
    }
}

.blog__titles {
    grid-area: list;
}

.titles__item--active {
    color: #00bfa5;
    border-right: #00bfa5 2px solid;
}

.blog__content {
    grid-area: item;

    .content__list {
        height: 500px;
        overflow: scroll;
    }

    .content__item {
        .content__title {
            font-size: 35px;
            font-family: 'Bernier', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #373e42;
            text-transform: uppercase;
        }

        .content__date {
            font-size: 16px;
            font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #00bfa5;
        }

        .content__text {
            font-size: 16px;
            font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #373e42;
        }
    }
}