doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        block head
    body
        header.header
            .container.header-container
                .header__socials
                    a.socials__link(href="http:/vk.com")
                        svg.socials__svg
                            use(xlink:href="../svg/_sprite.svg#vk")
                    a.socials__link(href="http:/vk.com")
                        img(src=require("./img/github.png"), alt="vk.com")
                    a.socials__link(href="http:/vk.com")
                        img(src=require("./img/in.png"), alt="vk.com")
                .header__menu
                    button.header__menu-btn(type="button")
        section.section.hero
            .container.hero-container
                .hero__back-text
                .hero__ava
                    img.ava__avatar(src=require("./img/ava.png"), alt="avatar")
                    .ava__content
                        h2.ava__name Денис Давыдов
                        p.ava__text  Личный сайт веб разработчика
                .hero__btn-next
        block content