.welcome {
    width: 380px;
    height: 400px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    opacity: .8;
}

.welcome__avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 45px 0 7px 0;
}

.welcome__name {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #455a64;
    font-size: 28px;
}

.welcome__text {
    margin: 5px 0 35px 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #455a64;
    font-size: 16px;
}

.welcome__socials {
    display: flex;
    margin-bottom: 40px;
}

.socials__link {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__icon {
    width: 30px;
    height: 20px;

    &--vk {
        background: url("./vk.png") center center no-repeat;
    }

    &--git {
        background: url("./github.png") center center no-repeat;
    }

    &--in {
        background: url("./in-hover.png") center center no-repeat;
    }
}

.welcome__btns {
    margin-top: 10px;
    width: 100%;
    display: flex;
}

.welcome__btn {
    width: 34%;
    height: 45px;
    border: none;
    background: #00bfa5;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    border-right: #dee3e7 2px solid;
    cursor: pointer;

    &:last-child {
        border: none;
    }
}


.welcome__wrapper {
    height: 100vh;
    width: 100vw;
    background: url('./index-bg.png') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth {
    width: 380px;
    height: 400px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    display: none;
}

.auth__title {
    text-transform: uppercase;
    font-family: 'BERNIER', Arial, Helvetica, sans-serif;
    color: #455a64;
    font-weight: 400;
    margin: 33px 0 40px 0;
} 

.form__question {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

.form__label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.form__label-radio {
    @extend .form__label;
    margin-right: 40px;

    .form__radio {
        margin-right: 10px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 290px;
    height: 45px;
    border-radius: 5px;
    padding: 16px 18px;
    font-size: 16px;
}

.form__radio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__content {
    display: flex;
    justify-content: center;
}

.form__btn {
    width: 190px;
    height: 50px;
    background: #009688;
    border: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-right: #dee3e7 2px solid;

    &:last-child {
        border: none;
    }
}

.footer {
    position: absolute;
    bottom: 0;
}

.footer-text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
    color: white;
}
