extends ../base

block head
    title Авторизация

block content
    .wrapper.welcome__wrapper
        .auth
            h1.auth__title Авторизируйтесь
            form.auth__form
                .form__content
                    label.form__label(for="login") 
                        p.form__icon Л
                        input.form__input(type="text" id='login' placeholder='Логин')
                .form__content
                    label.form__label(for="password")
                        p.form__icon П
                        input.form__input(type="text" id='password' placeholder='Пароль')
                .form__content
                    label.form__label(for="human")
                        input.form__checkbox(type="checkbox" id='human')
                        p.form__text Я человек
                p.form__question Вы точно не робот?
                .form__content
                    .form__radio
                        label.form__label-radio
                            input.form__radio(type="radio" name="robot" value="yep")
                            p.form__text Да
                        label.form__label-radio
                            input.form__radio(type="radio" name="robot" value="nope")
                            p.form__text Не уверен
                .form__content
                    button.form__btn(type='button') На главную
                    button.form__btn(type='button') Войти
        .welcome
            .welcome__info
                img.welcome__avatar(src=require("./img/ava.png"), alt="avatar")
                h2.welcome__name Денис Давыдов
                p.welcome__text Личный сайт веб разработчика
            .welcome__socials
                a.socials__link(href="vk.com")
                    svg.socials__svg
                        use(xlink:href="../svg/sprite.svg#vk")
                a.socials__link(href="vk.com")
                    svg.socials__svg
                        use(xlink:href="../svg/sprite.svg#github")
                a.socials__link(href="vk.com")
                    svg.socials__svg
                        use(xlink:href="../svg/sprite.svg#in")
            div(class="welcome__btns")
                button.welcome__btn(type="button") Мои работы
                button.welcome__btn(type="button") Обо мне
                button.welcome__btn(type="button") Блог
        footer.footer
            p.footer-text © Давыдов Денис | создано с любовью в LoftSchool | 2018
