@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.generated.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.generated.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.generated.woff2') format('woff2'),
        url('../fonts/Roboto-Light.generated.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bernier';
    src: url('../fonts/Roboto-Light.generated.woff2') format('woff2'),
        url('../fonts/Roboto-Light.generated.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}