.header {
    position: absolute;
    width: 100%;
    top: 0;
}

.socials__svg {
    width: 30px;
    height: 20px;
    fill: red;
}

.header__menu-btn {
    width: 40px;
    height: 35px;
    background: url('../img/hamburger.png') center center no-repeat;
    border: none;
    cursor: pointer;
}

.socials__link {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}